<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APISecret</key>
	<string>vA1Xm3FFr8yTq4HToYoPGMi8n9UoLQGwRiEHppMGxK532EXSWA</string>
	<key>APIKey</key>
	<string>oRFVB7ACDUzgqaU6jgWsKvOpc</string>
</dict>
</plist>
